header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.93rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
}

nav {
  display: flex;
  align-items: center;
}

header h1 {
  width: 15rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-family: Montserrat;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

header li {
  display: inline-block;
  margin: auto 0.5rem;
  font-size: 1.5rem;
  color: #121212;
}

header a {
  color: #121212;
  width: 3.688rem;
  height: 1rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-family: Montserrat;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  text-decoration: none;
}
img {
  width: 2rem;
}